<% let useTitle; try {useTitle = title} catch {useTitle = "Tracker App"} %>
<% let useSubTitle; try {useSubTitle = subtitle} catch {useSubTitle = ""} %>
<% let useMessage; try {useMessage = message} catch {useMessage = false} %>
<div id="headbar">
    <div class="inner-wrapper">
        <div class="notifications-wrapper">
            <a href="/user/notifications/?returnTo=${returnTo}">
                <button id="notifications" 
                type="button" 
                data="<%= user.notifications.filter(n => n.status==='unseen').length %>">
                🔔</button>
            </a>
        </div>

        <div class="bullet-wrapper">
            <a href="/user/dashboard">
                <header>
                    <h2><%= useSubTitle || user.profile.displayname %></h2>
                    <% if (useTitle) { %>
                        <h1><%= useTitle %></h1>
                    <% } else { %>
                        <h1><span style="color:#fc5;">JAX</span> Group<br> Expense Tracker</h1>
                    <% } %>
                </header>
            </a>
            <div id="profile-photo" class="profile-photo">
                <a href="/user">
                    <img src="<%= user.profile.photo.url %>" alt="<%= user.profile.displayname %> profile photo">
                </a>
            </div>
        </div>

    </div>
</div>

<% if (useMessage) %>
<div id="session-message" class="<%= !useMessage ? "hide" : "show" %>">
    <p><%= useMessage %></p>
</div>

<script defer type="text/javascript">
    const variables = {
        returnTo: window.location.href,
    }
    document.body.textContent.match(/\$\{.+\}/g)?.forEach(match => {
        const variable = match.match(/(?<=\$\{).+(?=\})/g);
        match.replace(/.+/, variables[variable])
    })

    setTimeout(()=>{
        if (document.getElementById('session-message').classList.contains('show')) {
            (document.getElementById('session-message')).classList.replace('show', 'hide');
        }
    }, 6000)

    (document.getElementById('session-message')).addEventListener('click', (e)=>{
        if (e.target.classList.contains('show')) e.target.classList.replace('show', 'hide')
    })
</script>