<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', { title:"Dashboard", style:['dashboard'] }) %>
</head>
<body>
    <%- include('../partials/headbar.ejs', { title:"Dashboard" }) %>
<main>
    <section id="trackers">
        <div class="inner-wrapper slider-container">
            <% try { %>
            <% user.trackers.map(tracker => { %>

                    <div class="card tracker">
                        <div class="title"><%= tracker.name %></div>
                        <div class="money-sign">$</div>
                        <div class="amount">
                            <span><%= data.totals.credits_calculated %></span> / 
                            <span>$<%= data.totals.expenses_calculated %></span>
                        </div>
                        <div class="members">
                            <% for (let i=0; i<2; i++) { if (!tracker.members[i]) break; %>
                                <div class="chip">
                                    <img src="<%= tracker.members[i].photo %>">
                                    <span><%= tracker.members[i].displayname %></span>
                                </div>
                                <span>+ <%= tracker.members?.length - 2 %> more</span>
                            <% } %>
                        </div>
                    </div>

             <% }) } catch (err) {console.error(err); %><span>Data Unavailible</span> <% } %>
        </div>
    </section>

    <% if (user.recents?.length > 0) { %>
    <section id="recents">
        <h3>Recents</h3>
        <div class="inner-wrapper slider-container">
            <% for (let i=0; i<50; i++) { if (!user.activities[i]) break; %>
                <a href="<%= user.activities[i].data?.link ? user.activities[i].data.link : '#' %>">
                    <div class="card recent">
                        <h5><%= user.activities[i].title %></h5>
                        <span><%= new Date(user.activities[i].created_at).toDateString() %></span>
                    </div>
                </a>
            <% } %>
        </div>
    </section>
    <% } %>

    <section id="user-summary">
        <figure class="card summary">
            <div class="pie-chart"
            data-margin="<%= Math.abs(data.totals.margin) %>" 
            data-color="<%= data.totals.margin>0 ? '#f66' : '#0f0 '%> ">
                <p class="text-content"><%= data.totals.margin %></p>
            </div>
            <h3>User Summary</h3>
            <figcaption>
                <span class="assignments"><%= data.totals.assignments %></span>
                <span class="credits"><%= data.totals.credits %></span>
            </figcaption>
        </figure>
    </section>
</main>
    <%- include('../partials/navbar.ejs') %>
</body>
</html>