<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head.ejs', { title:"New Tracker", style:['dashboard'] }) %>
</head>
<body>
<%- include('../../partials/headbar.ejs', { title:"New Tracker" }) %>
<main>
    <section id="page-nav">
        <button type="button" onclick="history.back()">🔙 Back</button>
    </section>

    <section id="content">
        <legend>Tracker Info</legend>
        <form action="/documents/Tracker/<%= tracker._id %>/?_method=PUT" method="POST">
            <button type="submit">Save</button>
            <label for="title">Title</label>
            <input id="title" name="name" type="text" value="<%= tracker.name %>" required>
            
            <label for="description">Description</label>
            <input id="description" name="description" type="text" value="<%= tracker.description %>">
            
            <label for="status">Status</label>
            <select id="status" name="status">
                <option value="ongoing" <%=tracker.status==="ongoing" && "selected"%>>Ongoing</option>
                <option value="forthcoming" <%=tracker.status==="forthcoming" && "selected"%>>Forthcoming</option>
                <option value="complete" <%=tracker.status==="complete" && "selected"%>>Complete</option>
                <option value="repayment" <%=tracker.status==="repayment" && "selected"%>>Repayment</option>
                <option value="funding" <%=tracker.status==="funding" && "selected"%>>Funding</option>
            </select>


            <label for="members-input">Members</label>
            <input id="members-input" type="search" list="friends">
            <button type="button" id="add-friend-btn">Add</button>
            <datalist id="friends">
                <% user.profile.friends?.map(friend => { %>
                    <option data-uid="<%= friend._id %>">
                        <%= friend.displayname %>
                    </option>
                    <option data-uid="<%= friend._id %>">
                        <%= friend.username %>
                    </option>
                <% }) %>
            </datalist>
            <ul id="members-added">
                <% tracker.members.map(member => { %>
                    <li>
                        <%= member.displayname %>
                        <button type="button" class="list-remove-btn" id="remove-<%= member._id %>">❌</button>
                    </li>
                <% }) %>
            </ul>

                <% tracker.expenses.map((expense,XPidx) => { %>
                    <fieldset id="expense<%=idx%>" class="expense">
                    <legend>Expense<%=XPidx%>"</legend>
                    <label for="expense<%=XPidx%>$name">Name</label>
                    <input id="expense<%=XPidx%>$name" name="expense<%=idx%>$name" type="text" value="<%= expense.name %>" required>

                    <label for="expense<%=XPidx%>$description">Description</label>
                    <input id="expense<%=XPidx%>$description" name="expense<%=XPidx%>$description" value="<%= expense.description %>" type="text">

                    <label for="expense<%=XPidx%>$status">Status</label>
                    <select id="expense<%=XPidx%>$status" name="expense<%=XPidx%>$status" value="<%= expense.status %>">
                        <option value="ongoing">Ongoing</option>
                        <option value="forthcoming">Forthcoming</option>
                        <option value="complete">Complete</option>
                        <option value="complete">Gift/Donation</option>
                        <option value="repayment">Repayment</option>
                        <option value="funding">Funding</option>
                    </select>
                
                    <h5>Expense Items</h5>
                    <% expense.items.map((item,Iidx) => { %>
                        <fieldset id="expense<%=XPidx%>$item<%=Iidx%>">
                            <legend>Item<%=Iidx%></legend>
                            <div id="expense<%=XPidx%>$items" class="list-wrapper">
                                <div class="item" id="expense<%=XPidx%>$item<%=Iidx%>">
                                    <label for="expense<%=XPidx%>$item<%=Iidx%>_name">Name</label>
                                    <input id="expense<%=XPidx%>$item<%=Iidx%>_name" name="expense<%=XPidx%>$item<%=Iidx%>_name" type="text" value="<%= item.name %>">
                                    <label for="expense<%=XPidx%>$item<%=Iidx%>_description">Description</label>
                                    <input id="expense<%=XPidx%>$item<%=Iidx%>_description" name="expense<%=XPidx%>$item<%=Iidx%>_description" type="paragraph" value="<%= item.description %>">
                                    <label for="expense<%=XPidx%>$item<%=Iidx%>_amount">Amount</label>
                                    <input id="expense<%=XPidx%>$item<%=Iidx%>_amount" name="expense<%=XPidx%>$item<%=Iidx%>_amount" type="number" value="<%= item.amount %>">
                                    <label for="expense<%=XPidx%>$item<%=Iidx%>_assignees">Assignees</label>
                                    <input id="expense<%=XPidx%>$item<%=Iidx%>_assignees" type="search" list="expense<%=XPidx%>$item<%=Iidx%>_friends">
                                    <button type="button" id="add-friend-btn">Add</button>
                                    <datalist id="expense<%=XPidx%>$item<%=Iidx%>_friends">
                                        <option id="123456789" value="John Smith">
                                        </option>
                                        <option id="987654321" value="Andrei Verakovski">
                                        </option>
                                    </datalist>
                                    <ul id="members-added">
                                        <% item.assignees.map((assignee,Aidx) => { %>
                                            <li>
                                                <%= assignee.userID.displayname %>
                                                <button type="button" class="list-remove-btn" id="remove-<%= member._id %>">❌</button>
                                            </li>
                                        <% }) %>
                                    </ul>
                                    <div id="expense<%=XPidx%>$item<%=Iidx%>_photos" class="list-wrapper">
                                        <h5>Photos</h5>
                                        <% item.photos.map((photo,IPidx) => { %>
                                            <div class="item_photo" id="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>">
                                                <label for="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>%name">Title</label>
                                                <input id="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>%name" name="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>" type="text" value="<%= photo.name %>">
                                                <label for="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>%description">Description</label>
                                                <input id="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>%description" name="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>" type="paragraph" value="<%= photo.description %>">
                                                <label for="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>%url">URL</label>
                                                <input id="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>%url" name="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>" type="url" value="<%= photo.url %>">
                                                <button class="remove-field" data-id="expense<%=XPidx%>$item<%=Iidx%>_photo<%=IPidx%>" type="button">Remove Photo</button>
                                            </div>
                                        <% }) %>
                                    </div>
                                    <button class="add-field" data-path="expense$photo" type="button">Add Photo</button>
                                </div>
                            
                            </div>
                        </fieldset>
                        <button class="add-field" data-path="expense$item" type="button">Add Item</button>
                        <button class="remove-field" data-id="expense<%=XPidx%>$item<%=Iidx%>" type="button">Remove Item</button>
                    <% }) %>

                    <div id="expense<%=XPidx%>$receipts" class="list-wrapper">
                        <h5>Receipt Photos</h5>
                        <% expense.receipts.map((receipt,RPidx) => { %>
                            <div class="receipt" id="expense<%=XPidx%>$receipt1">
                                <label for="expense<%=XPidx%>$receipt1_name">Title</label>
                                <input id="expense<%=XPidx%>$receipt1_name" name="expense<%=XPidx%>$receipt1_name" type="text" value="<%= receipt.name %>">
                                <label for="expense<%=XPidx%>$receipt1_description">Description</label>
                                <input id="expense<%=XPidx%>$receipt1_description" name="expense<%=XPidx%>$receipt1_description" type="paragraph" value="<%= receipt.description %>">
                                <label for="expense<%=XPidx%>$receipt1_url">URL</label>
                                <input id="expense<%=XPidx%>$receipt1_url" name="expense<%=XPidx%>$receipt1_url" type="url" value="<%= receipt.url %>">
                                <button class="remove-field" data-id="expense<%=XPidx%>$receipt1" type="button">Remove Receipt</button>
                            </div>
                        <% }) %>
                    </div>
                    <button id="expense<%=XPidx%>$receipt-add-btn" class="add-field" data-path="expense$receipt" type="button">Add Receipt</button>

                    <div id="expense<%=XPidx%>$webLinks" class="list-wrapper">
                        <h5>Web links</h5>
                        <% expense.webLinks.map((link,Lidx) => { %>
                            <div class="webLink" id="expense<%=XPidx%>$webLink1">
                                <label for="expense<%=XPidx%>$webLink1_name">Title</label>
                                <input id="expense<%=XPidx%>$webLink1_name" name="expense<%=XPidx%>$webLink1_name" type="text" value="<%= link.name %>">
                                <label for="expense<%=XPidx%>$webLink1_description">Description</label>
                                <input id="expense<%=XPidx%>$webLink1_description" name="expense<%=XPidx%>$webLink1_description" type="paragraph" value="<%= link.description %>">
                                <label for="expense<%=XPidx%>$webLink1_url">URL</label>
                                <input id="expense<%=XPidx%>$webLink1_url" name="expense<%=XPidx%>$webLink1_url" type="url" value="<%= link.url %>">
                                <button class="remove-field" data-id="expense<%=XPidx%>$webLink1" type="button">Remove Web Link</button>
                            </div>
                        <% }) %>
                    </div>
                    <button id="expense<%=XPidx%>$webLink-add-btn" class="add-field" data-path="expense$webLink" type="button">Add Web Link</button>

                    <div id="expense<%=XPidx%>$photos" class="list-wrapper">
                        <h5>Photos</h5>
                        <% expense.photos.map((photo,Pidx) => { %>
                            <div class="photo" id="expense<%=XPidx%>$photo<%=Pidx%>">
                                <label for="expense<%=XPidx%>$photo<%=Pidx%>_name">Title</label>
                                <input id="expense<%=XPidx%>$photo<%=Pidx%>_name" name="expense<%=XPidx%>$photo<%=Pidx%>_name" type="text" value="<%= photo.name %>">
                                <label for="expense<%=XPidx%>$photo<%=Pidx%>_description">Description</label>
                                <input id="expense<%=XPidx%>$photo<%=Pidx%>_description" name="expense<%=XPidx%>$photo<%=Pidx%>_description" type="paragraph" value="<%= photo.description %>">
                                <label for="expense<%=XPidx%>$photo<%=Pidx%>_url">URL</label>
                                <input id="expense<%=XPidx%>$photo<%=Pidx%>_url" name="expense<%=XPidx%>$photo<%=Pidx%>_url" type="url" value="<%= photo.url %>">
                                <button class="remove-field" data-id="expense<%=XPidx%>$photo<%=Pidx%>" type="button">Remove Photo</button>
                            </div>
                        <% }) %>
                    </div>
                    <button id="expense<%=XPidx%>$photo-add-btn" class="add-field" data-path="expense$photo" type="button">Add Photo</button>
                </fieldset>
            <% }) %>
            <button type="submit">Save</button>
        </form>
    </section>
</main>
<%- include('../../partials/navbar.ejs') %>

<script id="handle-add-members" type="text/javascript">
    const addFriend = document.getElementById('add-friend-btn');
    const membersInput = document.getElementById('members-input');
    const dataList = document.getElementById('friends');
    const membersList = document.querySelectorAll('#friends option');
    const membersAdded = document.getElementById('members-added');
    const friends = {};
    const getFriends = membersList.forEach(el => friends[el.value] = el.id);
    const members = [];
    const newNonUsers = [];
    const addedOptions = [];

    addFriend.addEventListener('click', (e) => {
        if (members.includes(friends[membersInput.value])
        || newNonUsers.includes(membersInput.value)) {
            membersInput.style.border = "1px solid #f88";
            membersInput.style.borderRadius = "3px";
            document.getElementById('session-message').textContent = "Member already added!";
            return;
        };

        membersInput.style.border = "1px solid grey";
        membersInput.style.borderRadius = "3px";
        document.getElementById('session-message').textContent = "";

        let value, reqArrNmae;
        if (Object.keys(friends).includes(membersInput.value)) {
            members.push(friends[membersInput.value])
            value = new String(friends[membersInput.value]);
            addedOptions.push(document.getElementById(value).cloneNode(true));
            document.getElementById(value).remove();
            reqArrName = 'members';
        } else {
            value = membersInput.value
            newNonUsers.push(value);
            reqArrName = 'NUmembers';
        }
        const li = document.createElement('li');
            li.classList.add(value.replace(' ', '_'));
        const text = document.createTextNode(membersInput.value);
            li.appendChild(text);
        const invisible = document.createElement('input');
            invisible.type = 'hidden';
            invisible.name = reqArrName;
            invisible.value = value;
            li.appendChild(invisible);
        const remove = document.createElement('button');
            remove.textContent = "❌";
            remove.classList.add('list-remove-btn');
            remove.addEventListener('click', (e) => {
                document.getElementsByClassName(value)[0].remove();
                if (reqArrName==='members') {
                    members.splice(members.find(m=>m===value),1);
                    const nodeIdx = addedOptions.findIndex(n=>n.id==value);
                    dataList.appendChild(addedOptions[nodeIdx]);
                    addedOptions.splice(nodeIdx,1);
                }
            });
            li.appendChild(remove);
        membersAdded.appendChild(li);

        console.log(addedOptions)

        membersInput.value = '';
    })
</script>
<script id="handle-add-additional-fields" type="text/javascript">
    const expense1ReceiptInputs = document.querySelectorAll('#expense1 .receipt input[type=text], #expense1 .receipt input[type=url]');
    const expense1WebLinkInputs = document.querySelectorAll('#expense1 .webLink input[type=text], #expense1 .webLink input[type=url]');
    const expense1PhotoInputs = document.querySelectorAll('#expense1 .photo input[type=text], #expense1 .photo input[type=url]');

    const expense1ReceiptAddBtn = document.getElementById('expense1$receipt-add-btn');
    const expense1WebLinkAddBtn = document.getElementById('expense1$webLink-add-btn');
    const expense1PhotoAddBtn = document.getElementById('expense1$photo-add-btn');

    for (let type of [
        [expense1ReceiptInputs, 'receipt', 'Receipt'],
        [expense1WebLinkInputs, 'webLink', 'Web Link'], 
        [expense1PhotoInputs, 'photo', 'Photo'],
    ]) { type[0].forEach(input => {
            input.addEventListener('blur', (e) => {
                if (Array.from(type[0]).every(i=>i.value!=='')) appendNewWebLink('expense1', type);
        }) });
    };

    for (let btn of [
        [expense1ReceiptAddBtn, [expense1ReceiptInputs, 'receipt', 'Receipt']], 
        [expense1WebLinkAddBtn, [expense1WebLinkInputs, 'webLink', 'Web Link']], 
        [expense1PhotoAddBtn, [expense1PhotoInputs, 'photo', 'Photo']]
    ]) { btn[0].addEventListener('click', (e) => {
            appendNewWebLink('expense1', btn[1]);
        })
    }

    function appendNewWebLink(fieldsetID, [self, fieldType, displayName]) {
        const count = document.querySelectorAll(`div.${fieldType}`).length+1;
        const newWebLinkBlock = document.createElement('div');
            newWebLinkBlock.classList.add(fieldType);
            newWebLinkBlock.id = `${fieldsetID}$${fieldType}${count}`;

            newWebLinkBlock.innerHTML 
            = `<label for="${fieldsetID}$${fieldType}${count}_name">Title</label>
               <input id="${fieldsetID}$${fieldType}${count}_name" name="${fieldsetID}$${fieldType}${count}_name" type="text">
               <label for="${fieldsetID}$${fieldType}${count}_description">Description</label>
               <input id="${fieldsetID}$${fieldType}${count}_description" name="${fieldsetID}$${fieldType}${count}_description" type="paragraph">
               <label for="${fieldsetID}$${fieldType}${count}_url">URL</label>
               <input id="${fieldsetID}$${fieldType}${count}_url" name="${fieldsetID}$${fieldType}${count}_url" type="url">
               <button class="remove-field" data-id="${fieldsetID}$${fieldType}${count}" type="button">Remove ${displayName}</button>`

        document.querySelector(`#${fieldsetID} #${fieldsetID}\\$${fieldType}s`).appendChild(newWebLinkBlock);
        document.querySelectorAll(`#${fieldsetID}\\$${fieldType}${count} input[type=text], #${fieldsetID}\\$${fieldType}${count} input[type=url]`)
            .forEach(input => {
                input.addEventListener('blur', (e) => {
                    if (Array.from(document.querySelectorAll(`#${fieldsetID} .${fieldType} input[type=text], #${fieldsetID} .${fieldType} input[type=url]`))
                        .every(i=>i.value!=='')) appendNewWebLink(fieldsetID, [self, fieldType, displayName]);
                }) });
    }

    function removeWebLink(webLinkID) {
        document.getElementById(webLinkID).remove();
        // Map over all web link elements in the fieldset
        // If the wlCt is > the deleted one, replace it with that number -1
    }
</script>
</body>
</html>